.footer {
    &__inner {
        padding: 30px;
        color: var(--color-dark);
        background-color: var(--color-light);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    &__contacts-body {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding: 15px 0 30px;
        p {
            margin-bottom: 0;
        }
    }
    &__extra {
        padding-top: 30px;
        border-top: 2px solid currentColor;
    }
}
